<section class="users-container">
    <div class="container">
        <div class="left-con">
            <div class="top-con">
                <div class="btn-con">
                    <button>
                        <span class="material-symbols-outlined">
                            person_add
                        </span>
                    </button>
                    <button>
                        <span class="material-symbols-outlined">
                            person_remove
                        </span>
                    </button>
                </div>

                <input type="text">
            </div>
            <table>
                <tr>
                    
                    <th>Username</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>orxan</td>
                    <td>admin</td>
                    <td>active</td>
                </tr>
                <tr>
                    <td>famil</td>
                    <td>user</td>
                    <td>active</td>
                </tr>
            </table>
        </div>
        <div class="right-con">
            sdas
        </div>
    </div>
</section>