<div class="header-container">
    <div class="left-con">
        <div>
            <label>System</label>
            <img src="../../../assets/icons/drop_down_gray.png" alt="">
        </div>
        <div>
            <label>Edit</label>
            <img src="../../../assets/icons/drop_down_gray.png" alt="">
        </div>
        <div>
            <label>View</label>
            <img src="../../../assets/icons/drop_down_gray.png" alt="">
        </div>
    </div>
    <div class="right-con">
        <label>header works!</label>
        <label>header works!</label>
        <label>header works!</label>
    </div>

</div>