<div class="header-container">
    <div class="left-con" cdkMenuBar>
        <div cdkMenuItem [cdkMenuTriggerFor]="systemMenu">
            <label>System</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div cdkMenuItem [cdkMenuTriggerFor]="editMenu">
            <label>Edit</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div cdkMenuItem [cdkMenuTriggerFor]="editMenu">
            <label>View</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div cdkMenuItem [cdkMenuTriggerFor]="editMenu">
            <label>Theme</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>

    </div>
    <div class="right-con">
        <label>header works!</label>
        <label>header works!</label>
        <label>header works!</label>
    </div>

</div>

<ng-template #systemMenu>
    <div class="cdk-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>
            <img src="../../../assets/icons/box.png" alt="">
            <span>
                User Preference
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <img src="../../../assets/icons/box.png" alt="">
            <span>
                System Preference
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <img src="https://cdn2.iconfinder.com/data/icons/flat-database/512/disconnect-512.png" alt="">
            <span>
                Disconnect
            </span>
        </button>
    </div>
</ng-template>

<ng-template #editMenu>
    <div class="cdk-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>
            <img src="../../../assets/icons/box.png" alt="">
            <span>
                User Preference1
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <img src="../../../assets/icons/box.png" alt="">
            <span>
                System Preference
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <img src="https://cdn2.iconfinder.com/data/icons/flat-database/512/disconnect-512.png" alt="">
            <span>
                Disconnect
            </span>
        </button>
    </div>
</ng-template>