<div class="header-container">
    <div class="left-con" cdkMenuBar>
        <div cdkMenuItem [cdkMenuTriggerFor]="systemMenu">
            <label>System</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div cdkMenuItem [cdkMenuTriggerFor]="editMenu">
            <label>Edit</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div cdkMenuItem [cdkMenuTriggerFor]="viewMenu">
            <label>View</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <div cdkMenuItem [cdkMenuTriggerFor]="themeMenu">
            <label>Theme</label>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>

    </div>
    <div class="right-con">
        <label>header works!</label>
        <label>header works!</label>
        <label>header works!</label>
    </div>

</div>


<ng-template #systemMenu>
    <div class="cdk-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem (click)="menuItemClick('settings','user_preference')">
            <span class="material-symbols-outlined">
                settings
            </span>
            <span>
                User Preference
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                settings
            </span>
            <span>
                System Preference
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                signal_disconnected
            </span>
            <span>
                Disconnect
            </span>
        </button>
    </div>
</ng-template>



<ng-template #editMenu>
    <div class="cdk-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem (click)="menuItemClick('group','users')">
            <span class="material-symbols-outlined">
                group
            </span>
            <span>
                Users
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem (click)="menuItemClick('factory','manufactures')">
            <span class="material-symbols-outlined">
                factory
            </span>
            <span>
                Manufactures
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                inventory_2
            </span>
            <span>
                Storage Locations
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                local_shipping
            </span>
            <span>
                Distributors
            </span>
        </button>
    
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                fingerprint
            </span>
            <span>
                Footprints
            </span>
        </button>

        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                square_foot
            </span>
            <span>
                Part Measurement Units
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                home_iot_device
            </span>
            <span>
                Units
            </span>
        </button>
    </div>
</ng-template>

<ng-template #viewMenu>
    <div class="cdk-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                bar_chart
            </span>
            <span>
                Statistics
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                earthquake
            </span>
            <span>
                System Information
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                signal_disconnected
            </span>
            <span>
                System Notices
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                deployed_code_history
            </span>
            <span>
                Stock History
            </span>
        </button>
    </div>
</ng-template>

<ng-template #themeMenu>
    <div class="cdk-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                light_mode
            </span>
            <span>
                Light
            </span>
        </button>
        <button class="example-menu-item" cdkMenuItem>
            <span class="material-symbols-outlined">
                dark_mode
            </span>
            <span>
                Dark
            </span>
        </button>
    </div>
</ng-template>