<section class="part-information-container" [ngClass]="isHidden?'isHidden':''">
    <div class="header">
        <label>Part information</label>
        <img src="../../../assets/icons/back_arrow_white.png" alt="" (click)="resize()">
    </div>
    <div class="body">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-symbols-outlined">
                        info
                    </span> <span>Part Details</span>
                </ng-template>
                <section class="info-container">
                    <div class="button-container">
                        <app-button [imgSrc]="'add_ad'"
                            [labelContent]="'Add Stock'"></app-button>
                        <app-button [imgSrc]="'delete'"
                            [labelContent]="'Remove Stock'"></app-button>
                        <app-button [imgSrc]="'edit'"
                            [labelContent]="'Edit Part'"></app-button>
                    </div>

                    <div class="scroll-field">

                        <div class="part-name-container">
                            <h3>
                                MicroFit 3.0 housing w2w 4p
                            </h3>

                            <div class="grid">
                                <label>Category Name</label>
                                <label>Stock Level</label>
                                <label>Minimum Stock Level</label>
                                <label>Footprint</label>
                                <label>Storage Location</label>
                                <label>Comment</label>
                                <label>Create Date</label>
                                <label>Status</label>
                                <label>Condition</label>
                                <label>Needs Review</label>
                                <label>Internal Part Number</label>
                                <label>Internal ID</label>

                                <label>MF3.0</label>
                                <label>0</label>
                                <label>0</label>
                                <label>none</label>
                                <label>Replimat</label>
                                <label>dwdwed</label>
                                <label>Sat Oct 28 2023 19:17:41 GMT+0400 (Azerbaijan Standard Time)</label>
                                <label></label>
                                <label></label>
                                <label>false</label>
                                <label>wedwed</label>
                                <label>423</label>
                            </div>
                        </div>

                        <div class="part-parametrs-container">
                            <h3>
                                Part Parametrs
                            </h3>
                            <div class="grid row14">
                                <h5>Parametr</h5>
                                <label>Case/Package</label>
                                <label>Current Rating</label>
                                <label>Lead-Free Status</label>
                                <label>Lifecycle status</label>
                                <label>Mounting style</label>
                                <label>Operating Temprature</label>
                                <label>Packagin</label>
                                <label>Number of Pins</label>
                                <label>Polarity</label>
                                <label>Power Dissipation</label>
                                <label>Reach SVHC Compliance</label>
                                <label>Internal ID</label>
                                <label for=""></label>

                                <h5>Value</h5>
                                <label>TO-92</label>
                                <label>-100 mA</label>
                                <label>Lead Free</label>
                                <label>Active</label>
                                <label>Through Hole</label>
                                <label>Max 150 c</label>
                                <label>Sat Oct 28 2023 19:17:41 GMT+0400 (Azerbaijan Standard Time)</label>
                                <label></label>
                                <label></label>
                                <label>false</label>
                                <label>Compliant</label>
                                <label>-65 V</label>
                                <label for=""></label>
                            </div>
                        </div>

                        <div class="attachment-container">

                            <h3>
                                Attachment
                            </h3>
                            <div class="link-container">

                                <a href="https://demo.partkeepr.org/api/part_attachments/154/getFile">Cam photo of
                                    2012-04-06
                                    15:11:46.jpg</a>
                            </div>
                        </div>

                        <div class="images-container">
                            <h3>
                                Images
                            </h3>
                            <img
                                src="https://www.vives.be/sites/default/files/styles/text_image_small/public/uploads/images/iwt-elektronica_foto-intro.jpeg?itok=STK2AEZJ">
                            sdfsd
                        </div>

                    </div>

                </section>
            </mat-tab>



            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-symbols-outlined">
                        history
                    </span>
                    <span>Stock History</span>
                </ng-template>
                <section>asdadasd</section>

            </mat-tab>

        </mat-tab-group>
    </div>
</section>