@import "../../../styles/colors.scss";
.part-information-container{
    background-color:white;
    height: 100%;
    

    .header{
        background-color: $header-color;
        height: 35px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding:0 10px;
        color: white; 

        img{
            width: 15px;
            padding: 4px;
            background-color: $second-color;
            border-radius: 50%;
            transform: rotate(180deg);
            cursor: pointer;
        }
    }
}