@import "../../../styles/colors.scss";

.categories-container {
    background-color: white;
    height: 100%;
    width: 300px;
    transition: width 0.2s ease-in;
    position: relative;


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $header-color;
        height: 35px;
        padding: 0 5px;

        label {
            color: white;
        }

        img {
            width: 15px;
            height: 15px;
            background-color: $second-color;
            border-radius: 50%;
            padding: 4px;
            cursor: pointer;
            transition: 0.2s;


            &:hover {
                // background-color: $active-color;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 10px;


        .icon-container {
            display: flex;
            gap: 5px;
            align-items: center;
            padding: 10px;

            button {
                padding: 15px;
                background-image: linear-gradient(white, #f5f5f5);
                border: 1px solid #e1e1e1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;

                img {
                    width: 16px;
                    cursor: pointer;
                }

                .plus-minus {
                    width: 14px;
                    border: 1px solid #157fcc;
                }
            }

        }

        .plus-minus {
            display: grid;
            place-items: center;
            background-color: #e0e2e6;
            width: 15px;
            height: 15px;
            padding: 2px;

            .material-symbols-outlined{
                font-size: 15px;
            }
        }

        .group-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .item {
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: 10px;
                width: calc(100% - 20px);
                cursor: pointer;
                padding: 10px;
                align-items: center;

                &:hover{
                    color: $header-color;

                    .material-symbols-outlined{
                        color: $header-color;
                    }
                }

                &:active {
                    background-color: #68686a;
                    color: white;
                }

                label{
                    cursor: pointer;
                }


                img {
                    width: 25px;
                    height: 25px;
                }

                div {
                    width: 25px;
                    height: 25px;
                    background-color: $header-color;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    color: white;
                }
            }
        }

    }


}

.type-icon {
    color: #afafaf;
}

.isCategoriesContainerHidden {
    width: 40px;

    .header {
        display: grid;
        grid-template-columns: 40px;
        grid-template-rows: 40px 1fr;
        height: 100%;
        gap: 15px;
        padding: 0;
        align-items: start;

        label {
            grid-row: 2;
            grid-column: 1;
            transform: rotate(90deg);
        }

        img {
            grid-row: 1;
            grid-column: 1;
            margin: auto;
            transform: rotate(180deg);
        }
    }

    .body {
        display: none;
    }
}
