.parts-container {
    height: calc(100% - 5px);

    .body-container {
        height: 100%;
        padding: 5px 0 0 0;
        background-color: white;

        .btn-container {
            display: flex;
            gap: 5px;
            margin: 5px;
        }

        .table-container {
            width: 100%;
            height: calc(100% - 35px);

        }
    }


    .mat-elevation-z8{
        height: 100%; 
        box-shadow: none;
    }
}
