@import "../styles/colors.scss";

/* You can add global styles to this file, and also import other style files */
body,
html {
    width: 100%;
    height: 100%;

    label {
        font: bold 14px/18px helvetica, arial, verdana, sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

// tab group
.mat-mdc-tab-group {
    width: 100%;
    height: 100%;

    .mat-mdc-tab-header {

        .mat-mdc-tab-labels {

            gap: 5px;
            height: 30px;
            background-color: $header-color;
            padding: 5px 5px 0 5px;

            .mat-mdc-tab {
                max-width: 170px;
                padding: 0;
                height: 30px;
                background-color: $second-color;

                span {
                    color: white;
                }

                img {
                    width: 20px;
                }

                .mdc-tab-indicator__content--underline {
                    border-radius: 4px 4px 0 0;
                    background-color: $active-color;
                    color: $header-color;
                    border: none;
                    height: 100%;
                }

                .mdc-tab__text-label {
                    gap: 5px;
                }
            }
        }
    }

    .mat-mdc-tab-body-wrapper {
        height: 100%;
        background-color: $active-color;
        padding: 5px 0 0 0;
    }
}

// menu

.mat-mdc-menu-content {
    padding: 0 !important;

    .mat-mdc-menu-item {
        min-height: 35px;

        .mdc-list-item__primary-text {
            display: flex;
            gap: 5px;
            align-items: center;

            img {
                width: 20px;
            }
        }
    }
}

.cdk-menu{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    button{
        border: none;
        outline: none;
        background-color: white;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        cursor: pointer;

        &:hover{
            background-color: $active-color;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
}
