@import "../../../styles/colors.scss";

.part-manager-container {
    height: calc(100% - 10px);

    .container {
        background-color: #dbdbdb;
        height: 100%;
        display: grid;
        grid-template-columns: auto 2fr auto;
        gap: 5px;
        padding: 5px;


        .component-con {
            height: 100%;
        }
    }
}