<section class="part-manager-container">
    <div class="container">

        <app-categories></app-categories>

        <mat-tab-group>
            <mat-tab label="Part Lists">
                <div class="component-con">
                    <app-parts></app-parts>
                </div>
            </mat-tab>
            <mat-tab label="Pictures">
                <div class="component-con">
                    <app-pictures></app-pictures>
                </div>
            </mat-tab>
        </mat-tab-group>

        <app-part-information></app-part-information>
    </div>

</section>