@import "../../../styles/colors.scss";

.part-manager-container {
    height: calc(100% - 10px);

    .container {
        background-color: #dbdbdb;
        height: 100%;
        display: grid;
        grid-template-columns: 400px 2fr 1fr;
        gap: 5px;
        padding: 5px;


        .component-con {
            height: 100%;
        }
    }
}