<div class="part-manager-container">
    <app-categories></app-categories>

    <div class="parts-container">
        <div class="header">
            <div routerLink="parts" routerLinkActive="active-router-style">
                <label >Part list</label>
            </div>
            <div routerLink="pictures" routerLinkActive="active-router-style">
                <label>Thumbnail views</label>
            </div>
        </div>
        <!-- <div class="router-container">
            <router-outlet></router-outlet>
        </div> -->
    </div>
    
    <app-part-information></app-part-information>
</div>