<div class="container">
  <div class="app-header">
    <app-header></app-header>
  </div>

  <div class="body-container">

    <div class="group-container">
      <mat-tab-group>
        <mat-tab label="First">
          <app-part-manager></app-part-manager>
        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>


      <!-- <div routerLinkActive="active-router-style" routerLink="part_manager">
        <img src="../assets/icons/box.png" alt="">
        <label>Part Manager</label>
      </div>
      <div routerLinkActive="active-router-style" routerLink="user">
        <img src="../assets/icons/box.png" alt="">
        <label>User</label>
      </div>
      <div routerLinkActive="active-router-style" routerLink="edit">
        <img src="../assets/icons/box.png" alt="">
        <label>Setting</label>
      </div>
     </div> -->


      <!-- <div class="router-body">
      <router-outlet></router-outlet>
    </div> -->
    </div>
  </div>