<section class="pictures-container">
    <div class="grid-container">
        <div class="card">
            <img src="https://radio-sale.ru/image/cache/import_files/c8/c8e148d9-ed3a-4274-8c6d-0f03f9244596-663x528_0_0.jpeg"
                alt="">
        </div>
        <div class="card">
            <img src="https://images.prom.ua/327070619_w600_h600_327070619.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://static.procontact74.ru/media/product/12023a86-6e2c-11e7-ac8b-00e04c130b2c_524b6dda-c989-11ea-80d1-e0d55e81e32a.jpeg"
                alt="">
        </div>

        <div class="card">
            <img src="https://radio-sale.ru/image/cache/import_files/c8/c8e148d9-ed3a-4274-8c6d-0f03f9244596-663x528_0_0.jpeg"
                alt="">
        </div>
        <div class="card">

            <img src="https://images.prom.ua/327070619_w600_h600_327070619.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://static.procontact74.ru/media/product/12023a86-6e2c-11e7-ac8b-00e04c130b2c_524b6dda-c989-11ea-80d1-e0d55e81e32a.jpeg"
                alt="">
        </div>

    </div>
    <mat-paginator [length]="12" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>

</section>